@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: 0%;
  z-index: 100;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
